<div id="slides" class="carousel slide" data-bs-ride="false">

  <div class="carousel-indicators">
    <button data-bs-target="#slides" data-bs-slide-to="0" class="active" aria-current="true"></button>
    <button data-bs-target="#slides" data-bs-slide-to="1" aria-current="true"></button>
    <button data-bs-target="#slides" data-bs-slide-to="2" aria-current="true"></button>
  </div>

  <div class="carousel-inner">

    <div class="carousel-item active">
      <img src="/assets/images/cover1.png" alt="">
      <div class="carousel-caption">
        <h3>Learning</h3>
        <p>You can learn Japanese Words from this application.</p>
      </div>

    </div>

    <div class="carousel-item">
      <img src="/assets/images/cover2.png" alt="">
      <div class="carousel-caption">
        <h3>Practices</h3>
        <p>After learning Japanese Words, you can challange multiple choice quizs.</p>
      </div>
    </div>

    <div class="carousel-item">
      <img src="/assets/images/cover3.png" alt="">
      <div class="carousel-caption">
        <h3>Making</h3>
        <p>You can also update Japanese Words contents, to improve application.</p>
      </div>
    </div>
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#slides" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#slides" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>

</div>
