<h3 class="mb-3"><i class="bi bi-bookmark-heart"></i> Japanese Words</h3>

<form [formGroup]="form" class="row mb-4">
  <div class="col-2">
    <label class="form-label">Level</label>
    <select formControlName="level" class="form-select">
      <option value="">All Level</option>
      <option *ngFor="let level of levels" [value]="level">{{level}} Level</option>
    </select>
  </div>

  <div class="col-4">
    <label class="form-label">Keyword</label>
    <input formControlName="keyword" type="text" class="form-control" placeholder="Search Keyword">
  </div>

  <div class="col-auto btn-wrapper">
    <button (click)="search()" class="btn btn-outline-primary me-2">
      <i class="bi bi-search"></i> Search
    </button>
  </div>
</form>

<table *ngIf="list.length > 0" class="table table-striped">

  <thead>
    <tr>
      <th>Level</th>
      <th>Book</th>
      <th>Lesson</th>
      <th>Word</th>
      <th>Phonetic</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let item of list" class="align-middle">
      <td>{{item.lesson.book.level}}</td>
      <td>{{item.lesson.book.title}}</td>
      <td>{{item.lesson.title}}</td>
      <td>{{item.word}}</td>
      <td>{{item.phonetic}}</td>
      <td></td>
    </tr>
  </tbody>
</table>

<app-no-data dataName="Word" *ngIf="list.length == 0"></app-no-data>
