<h3><i class="bi bi-book"></i> {{book.level}} - {{book.title}}</h3>

<p>{{book.description}}</p>

<div class="mb-4">
  <a (click)="editBook()" class="btn btn-outline-danger me-2">
    <i class="bi bi-pencil"></i> Edit Book Information
  </a>

  <a (click)="lessonFile.click()" class="btn btn-outline-primary me-2">
    <i class="bi bi-tags"></i> Upload Lessons
  </a>

  <a (click)="wordFile.click()" class="btn btn-outline-success me-2">
    <i class="bi bi-bookmarks"></i> Upload Words
  </a>

</div>

<div class="row">

  <div class="col-lg-3 col-md-6">
    <div class="card">
      <div class="card-header d-flex justify-content-between align-items-center">
        <h5><i class="bi bi-tags"></i> Lessons</h5>
        <a (click)="editLesson(null)" class="btn btn-link">
          <i class="bi bi-plus-lg"></i>
        </a>
      </div>

      <div class="card-body">

        <div *ngIf="lessons.length == 0" class="alert alert-info">
          There is no lessons. Please create lesson for this book.
        </div>

        <div *ngIf="lessons.length > 0" class="list-group list-group-flush">
          <div *ngFor="let item of lessons" class="list-group-item">
            <div class="d-flex justify-content-between align-items-center">
              <span>{{item.title}}</span>
              <a (click)="selectLesson(item)" class="btn btn-link">
                <i class="bi bi-send"></i>
              </a>
            </div>
            <span style="margin-top: -0.5em;">{{item.description}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col">

    <div class="card">
      <div class="card-header d-flex justify-content-between align-items-center">
        <h5><i class="bi bi-bookmarks"></i> {{lessonForWord.title}} {{lessonForWord.description}}</h5>
        <div>
          <a (click)="editLesson(lessonForWord)" class="btn btn-link me-2">
            <i class="bi bi-pencil"></i>
          </a>
          <a (click)="editWord(null)" class="btn btn-link">
            <i class="bi bi-plus-lg"></i>
          </a>
        </div>
      </div>

      <div class="card-body">
        <div *ngIf="noLessonForWord" class="alert alert-info">
          Please select lesson to manage words for lesson.
        </div>

        <div *ngIf="!noLessonForWord && words.length == 0" class="alert alert-info">
          There is no words for [{{lessonForWord.title}}]. Please add words.
        </div>

        <table *ngIf="words.length > 0" class="table table-striped">
          <thead>
            <tr>
              <th>Word</th>
              <th>Phonetic</th>
              <th>Definition</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let item of words">
              <td>{{item.word}}</td>
              <td>{{item.phonetic}}</td>
              <td>
                <ol>
                  <li *ngFor="let definition of item.definition">{{definition}}</li>
                </ol>
              </td>
              <td>
                <a class="btn btn-link" (click)="editWord(item)">
                  <i class="bi bi-pencil"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<app-book-edit [dto]="book" (saveData)="saveBook($event)"></app-book-edit>

<app-lesson-edit [dto]="targetLesson" (saveAction)="saveLesson($event)"></app-lesson-edit>

<app-word-edit [dto]="targetWord" (saveAction)="saveWord($event)"></app-word-edit>

<form class="d-none">
  <input type="file" #lessonFile (change)="uploadLesson(lessonFile.files)" >
  <input type="file" #wordFile (change)="uploadWord(wordFile.files)" >
</form>
