<div class="modal fade" id="lessonEditModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5>
          <i class="bi bi-pencil"></i> {{ form.get('id')?.value == 0 ? 'Add New' : 'Edit' }} Lesson
        </h5>
      </div>

      <form [formGroup]="form" class="modal-body">
        <div class="mb-3">
          <label class="form-label">Lesson Title</label>
          <input type="text" formControlName="title" placeholder="Enter Lesson Title" class="form-control">
        </div>

        <div>
          <label class="form-label">Description</label>
          <textarea class="form-control" formControlName="description"  placeholder="Enter Description" cols="40" rows="4"></textarea>
        </div>
      </form>

      <div class="modal-footer">
        <button class="btn btn-outline-primary" data-bs-dismiss="modal">
          <i class="bi bi-x-lg"></i> Close
        </button>
        <button (click)="save()" class="btn btn-outline-danger">
          <i class="bi bi-save"></i> Save
        </button>
      </div>
    </div>
  </div>
</div>
